<h1>Archived Invoices</h1>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Invoice Name</th>
            <th scope="col">Invoice Link</th>
            <th scope="col">Paid</th>
            <th scope="col">Invoice Pay By Date</th>
            <th scope="col">Archived At</th>
        </tr>
    </thead>
    <tbody>
        {{#each invoice}}
            <tr>
                <th><a href="/dashboard/invoice/{{id}}">{{name}}</a></th>
                <td><a href="/dashboard/invoice/{{id}}">Open Invoice</a></td>
                <td>{{is_paid}}</td>
                <td>{{format_date due_date}}</td>
                <td>{{createdAt}}</td>

            </tr>
        {{/each}}

    </tbody>
</table>